<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4f11e15c-d6b0-4460-af54-acb6aa4f3d23/resourceGroups/FarmFresh-RG/providers/Microsoft.Web/sites/farmfresh-api-pankaj</ResourceId>
    <ResourceGroup>FarmFresh-RG</ResourceGroup>
    <ApiResourceId>/subscriptions/4f11e15c-d6b0-4460-af54-acb6aa4f3d23/resourceGroups/FarmFresh-RG/providers/Microsoft.ApiManagement/service/FarmFreshAPIapi/apis/FarmFreshAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://farmfresh-api-pankaj-d8gbcnf6cme4fsd6.southindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>74ee1e89-951c-e945-d401-6e1d408e41e3</ProjectGuid>
    <MSDeployServiceURL>farmfresh-api-pankaj-d8gbcnf6cme4fsd6.scm.southindia-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farmfresh-api-pankaj</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$farmfresh-api-pankaj</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>